@import url("https://fonts.googleapis.com/css2?family=Sarpanch:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,500&display=swap");

body {
    background-image: url("../assets/bg_image.jpeg");
    font-family: "Chakra Petch", sans-serif;
}

#title {
    display: flex;
    justify-content: center;
    margin: 8%;
}

h1 {
    font-family: "Exo";
    font-style: italic;
    margin: 0;
    font-size: 8em;
    letter-spacing: 10px;
    color: black;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transform: skew(-15deg);
}

#postContainer {
    margin: auto;
    width: 1000px;
    padding: 20px;
    background-image: linear-gradient(-45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    flex: 1 1 auto;
    border-radius: 30px;
    padding-top: 30px;
    box-shadow: 0.5rem 0.5rem rgb(0, 0, 0), -0.5rem -0.5rem rgb(0, 0, 0)
}

#flexContain {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 50rem;
    height: 10rem;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transition: transform 300ms ease-in-out;
    transition: 600ms ease-in-out;
}

textarea:hover {
    background: rgb(179, 140, 212);
    transform: scale(1.1, 1.1);
    border: 2px rgb(8, 4, 4) solid;
    box-shadow: 0px 5px 10px rgba(176, 46, 172, 0.86);
}

.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#gifSearchTerm {
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.button {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    padding: 5px 20px;
    transition: transform 150ms ease-in-out;
    transition: 300ms ease-in-out;
    z-index: 1;
}

.button:hover {
    background: rgb(179, 140, 212);
    transform: scale(1.1, 1.1);
    border: 2px rgb(0, 0, 0) solid;
    box-shadow: 0 5px 15px rgba(176, 46, 172, 0.86);
}

.btn {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    box-shadow: 0 0 0 0 rbga(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: 0.5s ease, box-shadow 0.3s ease;
}

.btn:hover {
    color: black;
}

.btn::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
            #27d86c 0%,
            #26caf8 50%,
            #c625d0 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn:hover::after {
    transform: rotate(150deg);
}

#gifContainer {
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    display: none;
}

#gif1,
#gif2,
#gif3,
#gif4 {

    width: 24%;

    height: 200px;

    justify-content: center;
    align-items: center;
    vertical-align: middle
}

#gif1:hover,
#gif2:hover,
#gif3:hover,
#gif4:hover {
    cursor: pointer;
}

.flex-submit {
    display: flex;
    margin-left: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex: 1 1 auto;
}

.flex-row {
    display: flex;
    flex-shrink: 2;
    flex: 1 1 auto;
}

#charCount {
    text-align: right;
}

#counter {
    background-color: white;
    border-radius: 25%;
}


/* Listing of past comments */

#listingContainer {
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 1500px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(-45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    /* flex: 1 1 auto; */
    border-radius: 30px;
    padding-top: 30px;
    box-shadow: 0.5rem 0.5rem rgb(0, 0, 0), -0.5rem -0.5rem rgb(0, 0, 0);
}

.threadBox {
    width: 750px;
    height: 350px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    background: #232427;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#threadFlexCol {
    display: flex;
    flex-direction: column;
}

.postedPost {
    width: 600px;
    height: 150px;
    background: white;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
}

.emojiSection {
    width: 100px;
    height: 20px;
    background: green;
    position: relative;
    top: -12.5px;
    left: 20px;
    border-radius: 20px;
    padding: 2px 2px 2px 2px;
}

.commentWrap {
    margin-bottom: 20px;
}

#addCommentInput {
    background: blue;
    width: 400px;
    height: 30px;
    border-radius: 20px;
}

.addComment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentSection {
    width: 555px;
    height: 40px;
    background: red;
    margin: auto;
}